<!-- prettier spacer -->

<%- include('partials/header') -%>

<h1><%= __("Privacy Policy") %></h1>
<p class="subtitle">Τι δεδομένα αποθηκεύουμε σχετικά με εσένα και γιατί;</p>

<h3>Φύλλο</h3>
<p>
  Αποθηκεύουμε το φύλλο ώστε να είμαστεσε θέση να κάνουμε την κατανομή μεταξύ γυναικών και ανδρών με συμπτώματα.
</p>

<h3>Ηλικία</h3>
<p>
  Αποθηκεύουμε την ηλικία ώστε να διακρίνουμε ποιες ηλικιακές ομάδες εμφανίζουν συμπτώματα.
</p>

<h3>Ταχυδρομικός κώδικας</h3>
<p>
  Για να δώσουμε στο κοινό μια εικόνα για το πόσα άτομα εμφανίζουν συμπτώματα στην περιοχή όπου ζουν,
  αποθηκεύουμε ταχυδρομικούς κώδικες. Με αυτόν τον τρόπο μπορούμε να δείξουμε μια επισκόπηση του αριθμού
  των ατόμων με συγκεκριμένα συμπτώματα σε διαφορετικές περιοχές.
</p>

<h3>Test status</h3>
<p>
  Αποθηκεύουμε επίσης εάν έχετε κάνει τεστ και ποια είναι τα αποτελέσματα αυτών. Με αυτές τις πληροφορίες
  μπορούμε να υπολογίσουμε το ποσοστό των συμμετεχόντων που εμφανίζουν συμπτώματα. Το εμφανίζουμε σε χάρτη.
</p>

<h3>Συμπτώματα</h3>
<p>
  Τα συμπτώματα που υποβάλετε υποδεικνύουν εάν ενδέχεται να έχετε μολυνθεί με τον ιό Covid-19.
  Ο χρόνος της έναρξης των συμπτωμάτων δίνει επίσης μια ένδειξη για το πόσο καιρό έχετε πιθανόν μολυνθεί.
  Συλλέγουμε αυτά τα δεδομένα και τα απεικονίζουμε ανώνυμα. Με αυτόν τον τρόπο, το κοινό μπορεί
  να αποκτήσει εικόνα για το πόσο μεγάλα μπορεί να είναι τα νούμερα.
</p>
<div class="border-b border-cvs-red mt-4"></div>
<h3>Cookies</h3>
<p>
  Χρησιμοποιούμε cookies για να αποθηκεύουμε δεδομένα συμμετεχόντων στο δικό τους πρόγραμμα περιήγησης.
  Ζητούμε πρώτα άδεια για αυτό. Με αυτά τα cookies, οι συμμετέχοντες μπορούν να αναφέρουν ανώνυμα αν τα συμπτώματά τους έχουν μειωθεί.
</p>

<h3>Διαγραφή δεδομένων</h3>
<p>
  Όλα τα αποθηκευμένα δεδομένα είναι ανώνυμα και δεν αποθηκεύουμε
  προσωπικά δεδομένα που μπορούν να διαγραφούν.
</p>

<h3>Μοιραστείτε δεδομένα με τον Εθνικό Οργανισμό Δημόσιας Υγείας</h3>
<p>Εάν ζητηθεί, παρέχουμε ανώνυμα δεδομένα στον ΕΟΔΥ.</p>

<h3>Analytics</h3>
<p>
  Χρησιμοποιούμε αναλυτικά στοιχεία για να αποκτήσουμε πληροφορίες σχετικά με τη χρήση του ιστότοπου. Χρησιμοποιούμε
  <a
    class="text-cvs-red hover:underline"
    href="https://simpleanalytics.com"
    target="_blank"
    >Simple Analytics</a
  >
  για αυτό - δεν αποθηκεύει προσωπικά δεδομένα και δεν βάζει
  cookies.
</p>

<h3>Περισσότερες ερωτήσεις?</h3>
<%- include('partials/contact') -%>

<%- include('partials/footer') -%>
